<%- include("templates/header") %>
  <h2>Create User</h2>
  <% if (typeof message !=='undefined' ) { %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
    <% } %>
      <div class="p-4 bg-light border rounded">
        <form action="/signup" method="POST" class="mb-3">
          <div class="mb-3"><input type="text" name="name" class="form-control" required placeholder="name" /></div>
          <div class="mb-3"><input type="email" name="email" class="form-control" required placeholder="email" /></div>
          <div class="mb-3"><input type="password" name="password" class="form-control" required
              placeholder="password" /></div>
          <div class="mb-3">
            <select name="user_type" class="form-select" required>
              <option value="user" selected>User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
      <%- include("templates/footer") %>